<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
  </head>
  <body>
    <%- include('./includes/header') %> <%- include('./includes/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if (numOfRest > 0) { %>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= numOfRest %> restaurants</p>

      <form action="restaurants" method="GET">
        <input type="hidden" value="<%= nextOrder %>" name="order" />
        <button class="btn">Change Order</button>
      </form>

      <ul id="restaurants-list">
        <% for (const restaurant of restaurants) { %> <%-
        include('./includes/restaurants/restaurant-item', { restaurant:
        restaurant}) %> <% } %>
      </ul>
      <% } else { %>
      <p>We did not find any restaurant :(</p>
      <% } %>
    </main>
  </body>
</html>
